<form action="" method="POST">
    <label for="usernameLabel">username</label>
    <input type="text" name="username" id="usernameLabel">
    <label for="passwordLabel">password</label>
    <input type="text" name="password" id="passwordLabel">
    <input type="submit" value="login">
</form>